<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lecture">
            <h2><span>Lecture</span> {{lecture.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Category</span></dt>
                <dd>
                    <span>{{lecture.category}}</span>
                </dd>
                <dt><span>Topic</span></dt>
                <dd>
                    <span>{{lecture.topic}}</span>
                </dd>
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{lecture.title}}</span>
                </dd>
                <dt><span>Key Word</span></dt>
                <dd>
                    <span>{{lecture.keyWord}}</span>
                </dd>
                <dt><span>Duration</span></dt>
                <dd>
                    <span>{{lecture.duration}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{lecture.status}}</span>
                </dd>
                <dt><span>Language</span></dt>
                <dd>
                    <span>{{lecture.language}}</span>
                </dd>
                <dt><span>Video Call Link</span></dt>
                <dd>
                    <span>{{lecture.videoCallLink}}</span>
                </dd>
                <dt><span>Presentation Date</span></dt>
                <dd>
                    <span>{{lecture.presentationDate}}</span>
                </dd>
                <dt><span>Time Zone</span></dt>
                <dd>
                    <span>{{lecture.timeZone}}</span>
                </dd>
                <dt><span>Publication Date</span></dt>
                <dd>
                    <span>{{lecture.publicationDate}}</span>
                </dd>
                <dt><span>Peer</span></dt>
                <dd>
                    <div *ngIf="lecture.peer">
                        <a [routerLink]="['/peer', lecture.peer?.id, 'view']">{{lecture.peer?.id}}</a>
                    </div>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{lecture.user?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/lecture', lecture.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
