<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="score">
            <h2><span>Score</span> {{score.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Excellent</span></dt>
                <dd>
                    <span>{{score.excellent}}</span>
                </dd>
                <dt><span>Very Good</span></dt>
                <dd>
                    <span>{{score.veryGood}}</span>
                </dd>
                <dt><span>Fair</span></dt>
                <dd>
                    <span>{{score.fair}}</span>
                </dd>
                <dt><span>Bad</span></dt>
                <dd>
                    <span>{{score.bad}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/score', score.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
